@import "../../sass/base/variables";

$header-min-height: 100px;

@include media-breakpoint(xs) {
  #footer {
    min-height: 200px;
    background-color: $app-black;
    color: $app-white;

    .footerText{
      padding-top: 30px;
      font-size: $h5-font-size;
    }

    .links {
      padding-top: 30px;
    }

    .links a {
      color: $app-white;
      display: block;
      padding: 10px;
      text-transform: uppercase;
    }
  }
}